<app-header></app-header>
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

<div class="col-md-12 " *ngIf="!checkinFlag">
<section id="visitorList">
    <div class="row " style="text-align: center;"><h3 style="padding-left:450px;padding-top:15px;">Visitors List </h3></div>
<div class="row" style="overflow:scroll; height:420px;">
 <div class="col-md-12" >
  <table>
    <tr class="text-center">
      <th> </th>
      <th> </th>
      <th> </th>
      <th> </th>
    </tr>
  </table>
 </div>
 </div>
</section>

<section id="buttons" style="padding-top:30px;">
 <div class="row">
 <div class="col-md-1"></div>
 <div class="col-md-2" style="padding-top:25px;">
  <label style="color:#283747;font-weight: bold;">
 <input type="checkbox" name="" value="" style="width:25px;height:25px;color:#283747;position:absolute;left:-30px;font-weight: bold;">Show All Visitors </label><br>
 </div>
 <div class="col-md-1"></div>
 <div class="col-md-3" > 
  <button style="margin:auto;" class="buttonStyle"  (click)="toggle(1)" ><b> Check-In</b></button>
 </div>
<div class="col-md-3">
<button class="buttonStyle" id="checkout"><b> Check-Out</b></button></div>
  <div class="col-md-2"></div>
</div>
</section>
</div>










<div class="col-md-12" *ngIf="checkinFlag ">
 
  <section>
      <div class="row " style="text-align: center;">
        
        <div class="col-md-1" style="margin-top:15px;">
          <button  class="cancelStyle" (click)="toggle(2)" > Cancel</button>
        </div>
        <div class="col-md-9">
        <h3 style="padding-top:10px;padding-bottom:10px;">Visitor Check-In</h3>
        </div>
        <div class="col-md-2"></div>
      </div>
    <div class="row" style="height:420px; background-color: #E8F8F5;" >
      <div id="phone&otp" class="col-sm-2" style="padding-top:30px;border-right:2px solid #D1F2EB;height: 100%;" >
        <form  #mobile="ngForm">
        <div  class="row" *ngIf="phoneFlag==1" style="margin-left:7px;margin-top:30px;">
        <h6 style="padding-left:5px;"> Phone Number : </h6>
          <div class="row" >
             
              <div class="col-md-11" >
              <input type="text" autofocus required maxLength="10" ngModel name="mobile_no" style="margin-top:2px;width: 100%;height: 30px;border-radius: 2px;"></div>
              <div class="col-md-1"></div>
         </div>
         <div class="row" style="padding-top:20px;">
           <button  class="nextButton" (click)=" onMobileSubmit();showDivs(11); ">
                <i class="fas fa-chevron-right "></i></button>
             
         </div></div>
         </form>
         
         <form  #otp="ngForm">
         <div class="row"  *ngIf="otpFlag==1" style="padding-top:70px;margin-left:6px;">
          <h6 class="text-center" style="padding-top:20px;padding-left: 25px;">Enter OTP : </h6>
          
          <div class="row" style="padding-left:10px;">
            
                <div class="col-md-2">
                <input type="text" autofocus #otp1 ngModel name="otp1" required maxLength="1" (keyup)="otpController($event,otp2,'')" style="margin-top:15px;width:30px;height: 30px;">
                </div>
                
                <div class="col-md-2">
                    <input type="text" #otp2 ngModel name="otp2" required maxLength="1" (keyup)="otpController($event,otp3,otp1)"   style="margin-top:15px;width: 30px;height: 30px;">
                    </div>
                    <div class="col-md-2">
                        <input type="text" #otp3 ngModel name="otp3" required maxLength="1" (keyup)="otpController($event,otp4,otp2)"    style="margin-top:15px;width: 30px;height: 30px;">
                        </div>
                        <div class="col-md-2">
                            <input type="text"  #otp4 ngModel name="otp4"  required maxLength="1" (keyup)="otpController($event,'',otp3)"  style="margin-top:15px;width: 30px;height: 30px;">
                            </div>
                            
                          
              </div>

               <div class="row" style="padding-top:25px;">
           <button class="nextButton" (click)="showDivs(22);onOtpSubmit();">
                <i class="fas fa-chevron-right "></i></button>
             
         </div>


         </div>
        </form>

          
            
      </div>
      <!-- <div id="otp" class="col-sm-2" style="border-right:2px solid #D1F2EB;height: 100%;" *ngIf="otpFlag==1">
          <h6 class="text-center" style="padding-top:120px;">Enter OTP : </h6>
          
          <div class="row" style="padding-right:20px;">
               
                <div class="col-md-3">
                <input type="text" style="margin-top:10px;width:32px;height: 35px;">
                </div>
                <div class="col-md-3">
                    <input type="text"  style="margin-top:10px;width: 32px;height: 35px;">
                    </div>
                    <div class="col-md-3">
                        <input type="text" style="margin-top:10px;width: 32px;height: 35px;">
                        </div>
                        <div class="col-md-3">
                            <input type="text" style="margin-top:10px;width: 32px;height: 35px;">
                            </div>
                          
              </div>

               <div class="row" style="padding-top:170px;">
           <button class="nextButton" (click)="showDivs(22);">
                <i class="fas fa-chevron-right "></i></button>
             
         </div>
      </div> -->
      <div id ="basic" class="col-sm-3"  style="border-right:2px solid #D1F2EB;height: 100%;" *ngIf="basicFlag==1">
          <h5 class="text-center" style="padding-top:25px;">Basic Details</h5>

          <form  #basic="ngForm">
             <div class="row" style="padding-top:8px;">
               <label style="padding-left:20px;">Name:
               <input type="text" ngModel name="first_name" style="margin-top:10px;width: 60%;height: 30px;border-radius: 2px;margin-left:20px;">
               </label></div>

               <div class="row" style="padding-top:3px;">
                  <label style="padding-left:20px;">Gender:
                      <select ngModel name="gender" style="margin-left:12px;height: 30px;">
                          <option value="M">Male</option>
                          <option value="F">Female</option>
                          <option value="O">Other</option>
                          <option value="U">Undefined</option>

                         
                        </select>
                  </label></div>


                  <div class="row" style="padding-top:3px;">
                      <label style="padding-left:20px;">Age:
                          <select ngModel name="age" style="margin-left:40px;height: 30px;">
                              <option value="Child">Child</option>
                              <option value="Teenage">Teenage</option>
                              <option value="Adult">Adult</option>
                              <option value="Senior">Senior</option>
                            </select>
                              
                      </label></div>




               <div class="row" style="padding-top:3px;">
                  <label style="padding-left:20px;">Address:
                  <input type="text" ngModel name="address" style="margin-top:6px;width: 60%;height: 30px;border-radius: 2px;margin-left:5px;">
                  </label></div>


                  <div class="row" style="padding-top:3px;">
                      <label style="padding-left:20px;">City:
                      <input type="text" ngModel name="city" style="margin-top:6px;width: 60%;height: 30px;border-radius: 2px;margin-left:38px;">
                      </label></div>

                      <div class="row" style="padding-top:3px;">
                        <label style="padding-left:20px;">Covisitors :
                        <input type="text" ngModel name="covisitors" style="margin-top:6px;width: 50%;height: 30px;border-radius: 2px;margin-left:5px;">
                        </label></div>


                      <div class="row " style="padding-top:27px;padding-left: 70px;">
                          <button  class="nextButton"  (click)="showDivs(33);onBasicDetailSubmit();">
                               <i class="fas fa-chevron-right "></i></button>
                            
                        </div>
                      </form>

      </div>
      

      <div id ="covisitor" class="col-sm-3"  style="border-right:2px solid #D1F2EB;height: 420px;overflow:scroll;" *ngIf="covisitorFlag==1">
        <h5 class="text-center" style="padding-top:25px;">Co-visitor</h5>
          
               <form [formGroup]="myForm" >
                 
    
                  <div formArrayName="covisitors">
                    <div *ngFor="let covisitor of myForm.controls.covisitors.controls; let i=index" class="panel panel-default">
                      <div class="panel-heading">
                        <span>Covisitor {{i + 1}}</span>
                        <span class="fas fa-remove" *ngIf="myForm.controls.covisitors.controls.length > 1" style="padding-left:120px;cursor: pointer;" (click)="removeCovisitor(i)"></span>
                      </div>
                      <div class="panel-body" [formGroupName]="i">
                     
                              <div class="row" style="padding-top:8px;">
                                  <label style="padding-left:20px;">Name:
                                  <input type="text" style="margin-top:10px;width: 60%;height: 30px;border-radius: 2px;margin-left:20px;" formControlName="name" >
                                  </label></div>
                            <div class="row">
                              <div class="form-group col-md-10">
                                  <label>Gender :</label>
                                  <select style="margin-left:15px;height: 30px;" formControlName="gender">
                                      <option value="male" checked>Male</option>
                                      <option value="female">Female</option>
                                      <option value="other">Other</option>
                                     
                                    </select>
                              </div>
                          
                          </div>
                      </div>
                    </div>
                  </div>
          
                  <div class="margin-20">
                    <a (click)="addCovisitor()" style="cursor: pointer;color: blue;">
                      Add another covisitor +
                    </a>
                  </div>
          
                  
                </form>
             

                    <div class="row " style="padding-top:123px;padding-left: 60px;">
                        <button  class="nextButton"  (click)="showDivs(44);">
                             <i class="fas fa-chevron-right "></i></button>
                          
                      </div>


    
      </div>

     



      <div id="additional" class="col-sm-2"  style="border-right:2px solid #D1F2EB;height: 100%;" *ngIf="additionalFlag==1">
              
          <h5 class="text-center" style="padding-top:25px;">Additionals</h5>
          <div class="row" style="padding-top:15px;">
              <label style="padding-left:20px;">Purpose:
                  <input type="radio" name="gender" value="staff" checked> Staff<br>
                  <input type="radio" name="gender" value="meeting" style="margin-left:70px;"> Meeting<br>
                  <input type="radio" name="gender" value="interview" style="margin-left:70px;"> Interview 
              </label></div>

       
              <div class="row " style="padding-top:210px;padding-left:25px;">
                  <button id="additionalbtn" class="nextButton" (click)="showDivs(55) && getMedia($event) ">
                       <i class="fas fa-chevron-right "></i></button>
                    
                </div>

      </div>
       
      <div id="photo" class="col-sm-2"  *ngIf="photoFlag==true ">
          
          <h5 class="text-center" style="padding-top:25px;">Photograph</h5>
          
         
          <div class="row" style="padding-top:60px;" *ngIf="imageFlag==0">
              <webcam [height]="500" [width]="180" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                      [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                      [videoOptions]="videoOptions"
                      [mirrorImage]="never"
                      [imageQuality]="1"
                      
                      (cameraSwitched)="cameraWasSwitched($event)"
                      (initError)="handleInitError($event)"
              ></webcam>
              <br/>
            </div>
            <div class="snapshot" *ngIf="webcamImage && imageFlag==1" >
                
                <img [src]="webcamImage.imageAsDataUrl" style="width:100%;height:190px;padding-top:55px;transform: scale(-1,1);"/>
              </div>


              <div class="row" style="padding-top:105px;" *ngIf="imageFlag==0">
              <button class="nextButton" (click)="triggerSnapshot();">
                  <i class="fas fa-camera "></i></button>
              
              <!-- <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button> -->
              <br/>
             
            </div>

            <div class="row" style="padding-top:115px;" *ngIf="imageFlag==1;">
                <button class="nextButton" (click)="imageFlag=0 && triggerSnapshot(); ">
                    <i class="fas fa-circle-o-notch "></i>
                  
                  
                  
                  
                  </button>
                  
                  
                  </div>

          

        </div>


    

        
        
    </div>    
</section>

  <section>
    <div class="row" style="padding-top:30px;">
      <div class="col-md-10"></div>
     
      <div class="col-md-2" *ngIf="imageFlag==1"> 
          <button style="margin:auto;" class="buttonStyle" (click)="resetDivs()"><b> Submit</b></button>
      </div>
      
    </div>
  </section>
</div>












<!--  

<div class="modal fade" id="phoneNumberModal" tabindex="-1" role="dialog" aria-labelledby="phoneNumber_Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header " style="background-color: #E8F8F5;color:#283747;">
       <h5 class="modal-title  " id="phoneNumber_Modal" style="padding-left: 140px;color:#283747;"> VISITOR CHECK-IN</h5> 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body col-md-12" style="padding:50px;">
          <h4 class="text-center">Enter a valid mobile number ! </h4>
            <input type="text" style="margin-top:20px;width: 100%;height: 50px;">
  
  
              
        </div>
        <div class="modal-footer " style="padding-right:170px;">
            
            <button type="button" class="btn btnFont" data-dismiss="modal" data-toggle="modal" data-target="#otpModal">Next</button>
          </div>  
      </div>
    </div>
  </div>

  

   

<div class="modal fade" id="otpModal" tabindex="-1" role="dialog" aria-labelledby="otp_Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header " style="background-color: #E8F8F5;color:#283747;">
       <h5 class="modal-title  " id="otp_Modal" style="padding-left: 150px;color:#283747;"> VISITOR CHECK-IN</h5> 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body col-md-12" style="padding:50px;">
          <h4 class="text-center">Enter the 4-digit OTP ! </h4>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
            <input type="text" style="margin-top:20px;width:40px;height: 40px;">
            </div>
            <div class="col-md-2">
                <input type="text" style="margin-top:20px;width: 40px;height: 40px;">
                </div>
                <div class="col-md-2">
                    <input type="text" style="margin-top:20px;width: 40px;height: 40px;">
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="margin-top:20px;width: 40px;height: 40px;">
                        </div>
                        <div class="col-md-2"></div>
          </div>
              
        </div>
        <div class="modal-footer " style="padding-right:170px;">
           
            <button type="button" class="btn btnFont"  data-dismiss="modal" data-toggle="modal" data-target="#basicDetailModal">Next</button>
          </div>  
      </div>
    </div>
  </div> -->
  


  