<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group" style="margin-top: 67%;">
      
        <a routerLink="/visitors" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-user-circle-o"></i>
            <span>Visitors</span>
        </a>
        <a routerLink="/users" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-text-o"></i>
            <span>Users</span>
        </a>
        <a routerLink="/settings" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-gear"></i>
            <span>Settings</span>
        </a>
        <a routerLink="/reports" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-bar-chart"></i>
                        <span> Reports and Analysis</span>
        </a>
       
        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; Admin</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i>Profile</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> Log Out</span>
                            </a>
                        </li>
                        <!-- <li>
                            <a (click)="rltAndLtr()" class="list-group-item">
                                <span><i class="fa fa-arrows-h"></i>&nbsp;Move Menu</span>
                            </a>
                        </li> -->
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-arrows-h"></i>&nbsp;
        <span>Collapse Menu</span>
    </div>
</nav>
