table {
    border: 1px solid #D6DBDF;
    background-color: #E8F8F5;
    width: 100%;
    height:500px;
}

table th{
padding-top: 20px;

}

.buttonStyle
{
    background-color:#A3E4D7;
    border-radius:10px;
    border: 2px solid #85C1E9; 
    font-family: 'Fjalla One', sans-serif;
    font-size:18px;
   color:#283747;
   width: 140px;
   height:60px;
   padding: 20px;
   box-shadow: 2px 2px ;
   cursor: pointer;
   

}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }

.buttonStyle:hover{
    background-color: #D1F2EB;
    
    animation: pulse .5s;

}


.nextButton{
    border:2px 2px 0px 0px solid #85C1E9;
    background-color:#A3E4D7;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-left:50px;
    cursor: pointer;
    }
    
    .nextButton:hover
    {
        background-color: #A3E4D7;
        
        animation: pulse .5s;
    
    }
    
.cancelStyle{
    background-color:#A3E4D7;
    border-radius:5px;
    border: 1px solid #85C1E9; 
    font-family: 'Fjalla One', sans-serif;
    font-size:15px;
   color:#283747;
   width: 100px;
   height:30px;
   padding: 5px;
   box-shadow: 2px 2px ;
   cursor: pointer; 

}