<app-header></app-header>
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

<div class="col-md-12 " *ngIf="addUserFlag==0">
<section id="visitorList">
    <div class="row " style="text-align: center;"><h3 style="padding-left:450px;padding-top:15px;">Users List </h3></div>
<div class="row" style="overflow:scroll; height:420px;">
 <div class="col-md-12" >
  <table>
    <tr class="text-center">
      <th> </th>
      <th> </th>
      <th> </th>
      <th> </th>
    </tr>
  </table>
 </div>
 </div>
</section>

<section id="buttons" style="padding-top:30px;">
 <div class="row">
 
 <div class="col-md-5" > 
 
 </div>
<div class="col-md-4">
<button class="buttonStyle" id="add_user" (click)="userToggle(1)"><b> Add User</b></button></div>
  <div class="col-md-3"></div>
</div>
</section>
</div>


<div class="col-md-12" *ngIf="addUserFlag==1">

    <div class="row " style="text-align: center;">
        
        <div class="col-md-1" style="margin-top:15px;">
          <button  class="cancelStyle" (click)="userToggle(2)" > Cancel</button>
        </div>
        <div class="col-md-9">
        <h3 style="padding-top:10px;padding-bottom:10px;">Add User</h3>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row" style="height:430px; background-color: #E8F8F5;" >
         
          <div class="col-md-1"  ></div>
              <div class="col-md-7" style="padding-top:5px;border-right:2px solid #D1F2EB;height: 100%;">
                  <form>
                      <label style="padding-top:55px">Name :
                          <input type="text" style="margin-left:32px;width: 65%;height: 30px;border-radius: 2px;">
                      </label>
                      <label style="padding-top:55px;padding-left:50px;">Mobile No :
                          <input type="text" style="width: 65%;height: 30px;border-radius: 2px;">
                      </label>
                      
                    <label style="padding-top:25px">Email :
                        <input type="text" style="margin-left:37px;width: 65%;height: 30px;border-radius: 2px;">
                    </label>
                    
                      
                    <label style="padding-top:25px;padding-left:50px;">Dob :
                        <input type="text" style="margin-left:45px;width: 65%;height: 30px;border-radius: 2px;">
                    </label>
                    
                    <label style="padding-top:25px">Username :
                        <input type="text" style="width: 65%;height: 30px;border-radius: 2px;">
                    </label>
                     
                    <label style="padding-top:25px;padding-left:50px;">Password :
                        <input type="text" style="margin-left:5px;width: 65%;height: 30px;border-radius: 2px;">
                    </label>

                   

                

                    <label style="padding-top:25px;position: relative;margin-top:10px;">Entity :
                        <select style="margin-left:34px;" >
                            <option value="entity1">Entity1 Admin</option>
                            <option value="entity2">Entity2 User</option>
                            <option value="entity3">Entity3 Admin</option>
                           
                          </select>
                    </label>
                      
                    
                    <label style="padding-top:45px;padding-left:120px;">Role :
                  
                        <input type="radio" name="gender" value="male" checked style="margin-left: 40px;"> Admin<br>
                        <input type="radio" name="gender" value="female" style="margin-left:85px;"> Guard<br>
                         
                    </label>
                

                  <div class="row " style="padding-left: 180px;padding-top:40px;">
                      <button  class="nextButton" (click)="showUserPicDiv(11)">
                           <i class="fas fa-chevron-right "></i></button>
                        
                    </div>

                  </form>
                  
 
              </div>
            

                 
                    
              
              <div class="col-md-1"></div>
              <div class="col-md-2" *ngIf="userPicFlag==1">

                  <h5 class="text-center" style="padding-top:25px;padding-left:10px;">Photograph</h5>
          
         
                  <div class="row" style="padding-top:60px;" *ngIf="userImageClickedFlag==0" >
                      <webcam [height]="500" [width]="180" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                              [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                              [videoOptions]="videoOptions"
                              [mirrorImage]="never"
                              [imageQuality]="1"
                              
                              (cameraSwitched)="cameraWasSwitched($event)"
                              (initError)="handleInitError($event)"
                      ></webcam>
                      <br/>
                    </div>
                    <div class="snapshot" *ngIf="webcamImage && userImageClickedFlag==1" >
                        
                        <img [src]="webcamImage.imageAsDataUrl" style="width:100%;height:190px;padding-top:55px;transform: scale(-1,1);"/>
                      </div>
        
        
                      <div class="row" style="padding-top:105px;" *ngIf="userImageClickedFlag==0">
                      <button class="nextButton" (click)="triggerSnapshot();">
                          <i class="fas fa-camera "></i></button>
                      
                      <!-- <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button> -->
                      <br/>
                     
                    </div>
        
                    <div class="row" style="padding-top:115px;" *ngIf="userImageClickedFlag==1" >
                        <button class="nextButton" (click)="userImageClickedFlag=0 && triggerSnapshot(); ">
                            <i class="fas fa-circle-o-notch "></i>
                        </button>
                        </div>


              </div>
            
   <div class="col-md-1"></div>

         
         </div>    
    
  <section>
      <div class="row" style="padding-top:20px;">
        <div class="col-md-10"></div>
       
        <div class="col-md-2"> 
            <button style="margin:auto;" class="buttonStyle" *ngIf="userImageClickedFlag==1" (click)="userPicFlag=0" ><b> Submit</b></button>
        </div>
        
      </div>
    </section>

