<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
            
        <div class="col-md-5" style="padding:80px;">
            <img src="assets/images/logo.png" width="150px"  />
            <h1>VINNOBA</h1>
            <form  #f="ngForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ngModel name="user_name" class="form-control input-underline input-lg" id="username" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <input type="password" ngModel name="password" class="form-control input-underline input-lg" id="password" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn" routerLink="/visitors" (click)="onLoggedin()"> Log in </a>
                &nbsp;
                
            </form>
        </div>

        <div class="col-md-7" style="padding:80px;">
                
            <img src="assets/images/login4.png" title="" class="loginImage"/>
            </div>
    </div>
</div>
