$topnav-background-color: #A3E4D7;
:host {
    display: block;
}
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    color: #283747;
    padding: 3em;
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 40px;
        
        padding: 5px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid #283747;
        color: #283747;
        border-radius: 0;
    }

    .loginImage{
        width:550px;
        height: 400px;
        
    }

   

    .input-underline:focus {
        border-bottom: 2px solid #283747;
        box-shadow: none;
    }
    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: #283747;
        background: $topnav-background-color;
        border: 2px solid #283747;
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }
   
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: #283747;
       
        outline: none;
    }

    .rounded-btn:hover{
        border: 2px solid black;
        background-color: #1ABC9C;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        small {
            color: #283747;
        }
    }

  
    .form-content {
        padding: 40px 0;
    }
    .user-avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #283747;
    }
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #283747;
    opacity: 0.7; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #283747;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #283747;
  }
